* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(154, 185, 185);
    color: rgb(0, 0, 0);
}

header{
    background-color: rgb(100, 128, 118);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header nav ul {
    list-style: none;
    padding: 0;
}
header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
    flex-wrap: wrap;
}
.sobremim {
    flex: 1;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(58, 57, 57, 0.1);
    width: 45%;
    box-sizing: border-box;
}
.sobremim h2{
    font-size: 2em;
    margin-bottom: 20px;
    line-height: 1.6;
}

.galeria {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 45%; /* Ocupa 45% da largura */
    box-sizing: border-box;
}

.imagem {
    margin: 10px;
    display: inline-block;
}

.imagem img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contato {
    padding: 30px;
    background-color: #fff;
    margin: 30px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contato h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    border-color: rgb(100, 128, 118);
    outline: none;
}

textarea {
    height: 150px;
    resize: vertical;
}

button {
    background-color: rgb(100, 128, 118);
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

footer {
    background-color: #333;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}